@model List<Movie>

@{
    var movies = Model;
    ViewData["Title"] = "All Movies";
}

<div class="container" style="width: 1280px;">
    <h1 class="my-4"><a href="/movies" class="text-white">All Movies</a></h1>
    <div class="row">
        @foreach (var movie in movies)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="~/@movie.ImagePath" class="card-img-top" alt="@movie.Title" />
                    <div class="card-body">
                        <h4 class="card-title">@movie.Title</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Director: @movie.Director</h6>
                        <p class="card-text">Genre: @movie.Genre</p>
                        <p class="card-text">Rating: @movie.Rating</p>
                        <p class="card-text">Duration: @movie.DurationInMinutes minutes</p>
                       <p class="card-text">Release Date: @movie.ReleaseDate?.ToString("MMMM d, yyyy")</p>
                        <button class="btn btn-primary"><a href="/movies" class="text-white">Watch Now</a></button>
                    </div>
                </div>
            </div>
        }
    </div>
    <button class="btn btn-primary"> <a href="/movies/dashboard" class="text-white">Go to Dashboard</a></button>
</div>
